<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
Upload google dictionary
<form action="dictionary" enctype="multipart/form-data" method="post">
    <input id="xlsInput" type="file" name='xlsFile' dataformatas="xls, xlsx">
    <button>Submit</button>
</form>
<script src="javascripts/index.js"></script>
